<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pothole Hunter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD1FF16D1E77670F00C46614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD1FF1831E77670F00C46614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD1FF18E1E77670F00C46614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
